<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game.css" />
    <title>This App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="modal hidden">
        <div class="modal_res">YOU WIN</div>

        <div class="modal_reward_cont block">
          <img src="../png/coin.png" alt="" />
          <div class="modal_reward">5000</div>
        </div>

        <a href="" class="modal_ok block">OK</a>
      </div>

      <a href="main.html" class="back"></a>

      <div class="balance_cont block">
        <img src="../png/coin.png" alt="" />
        <div class="balance"></div>
      </div>

      <img src="../png/pers.png" alt="" class="pers" />

      <div class="game">
        <img src="../png/ball.png" alt="" class="ball" />
        <img src="../png/dots.png" alt="" class="dots" />
        <img src="../png/cfs.png" alt="" class="cfs" />
      </div>

      <div class="play btn">PLAY</div>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script src="../scripts/game.js"></script>
  </body>
</html>
