<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/news.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <a href="main.html" class="back"></a>

      <div class="title">SPORT TODAY</div>

      <div class="cards">
        <div class="card card-1">
          <img src="../png/n1.png" alt="" />

          <div class="card_text">
            <div class="card_title">
              7 Guinness World Records Held by Lionel Messi As Ronaldo Becomes
              Most Capped International Player
            </div>

            Lionel Messi has shattered a number of world records since becoming
            a professional footballer<br /><br />
            The Argentine superstar achieved incredible feats during his 17
            successful years at Barcelona<br /><br />
            He holds a number of Guinness World Records and Sports Brief looks
            at the seven most notable<br /><br />
            Argentine legend, Lionel Messi, holds a staggering number of
            Guinness World Records and the Inter Miami-bound superstar is
            expected to smash more before he retires.<br /><br />
            The seven-time Ballon d’Or winner has already bagged 34 trophies at
            club level, making him one of the most decorated footballers
            ever.<br /><br />
            Messi has won the FIFA World Cup, Copa América, and CONMEBOL titles
            on the international scene.
          </div>
        </div>

        <div class="card">
          <img src="../png/n2.png" alt="" />

          <div class="card_text">
            <div class="card_title">
              Victor Wembanyama Says Russell Westbrook Was His Favorite NBA
              Player
            </div>

            Victor Wembanyama has revealed that Russell Westbrook was his
            favourite player growing up<br /><br />
            The projected No. 1 pick said he has a few, but Wetbrook's
            performances with the Oklahoma City Thunder impressed him<br /><br />
            The Frenchman is expected to be selected by the San Antonio Spurs
            with the No. 1 pick in the 2023 NBA Draft<br /><br />
            Victor Wembanyama, one of the most exciting NBA Draft prospects, has
            named veteran point guard Russell Westbrook as one of his
            inspirations growing up.<br /><br />
            The young Frenchman is expected to be selected No. 1 overall in the
            2023 NBA Draft by the San Antonio Spurs, and many basketball fans
            will be waiting for his debut later this year.
          </div>
        </div>

        <div class="card">
          <img src="../png/n3.png" alt="" />

          <div class="card_text">
            <div class="card_title">
              La Liga 2023/24: Barca Begin Title Defence Against Getafe, El
              Clasico Set for October
            </div>

            The 2023/24 La Liga season is set to commence on the weekend of
            August 13 and come to a close on the weekend of May 26, 2024<br /><br />
            Majority of matches will be held on Fridays, Saturdays, Sundays, and
            Mondays, while certain rounds will feature midweek fixtures<br /><br />
            The new Spanish top flight league campaign is certainly set to be
            highly entertaining like the preceding years of La Liga activity<br /><br />
            The anticipation for the upcoming 2023/24 La Liga season has
            commenced today, June 22, with the release of the fixtures.
          </div>
        </div>
      </div>
    </div>

    <script src="../scripts/jQuery.js"></script>
    <script>
      $("[data-text]").click(function (ev) {
        localStorage.text_b41 = $(this).data("text");
      });
    </script>
  </body>
</html>
